@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:#0063ff;
    --supporting-color:#ebf3fe;
    --font-color:#424242;
    --bg-color:#f7fcff;
    --heading-color:#000a19;
    --para-color:#504e4d;
    --test-color:#070101;
    --white-color:#ffffff;
    --h-color:#0a043c;
    --btn-hover-bg-color:#003b99;
    --hero-heading-color:#0a306d;
    --btn-box-shadow:rgba(100,100,111,0.2)0px 7px 29px 0px;
}
html{
    font-size: 62.5%;
}
p, li , a{
    font-family: "Urbanist",sans-serif;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-weight: 400;
    color: var(--para-color);
    line-height: 1.5;
}
.container{
    max-width: 135rem;
    margin: 0 auto;
    padding: 9.6rem 16.4rem;
}
.grid{
 display: grid;
}
.grid-two--cols {
 grid-template-columns: repeat(2,1fr);
}
.grid-three--cols {
    grid-template-columns: repeat(3,1fr);
    
   }
   .grid-four--cols {
    grid-template-columns: repeat(4,1fr);

   }

.section-common-heading{
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins",sans-serif;
}
.section-common-subheading{
    color: var(--heading-color);
}
.section-common-title{
    font-size: 2rem;
    margin: 2rem 0 1rem 0 ;
}

.btn{
    display: inline-block;
    padding: 1.2rem 3.2rem;
    background-color: var(--test-color);
    color: var(--white-color);
    border-radius: .6rem;
    font-weight: 600;
    transition: 0.3s;
    border: 0;
    outline: 0;
    text-transform: capitalize;
}


.btn:hover{
    background-color: var(--btn-hover-bg-color);
    cursor: pointer;
    box-shadow: var(--btn-box-shadow);
}

a{
    text-decoration: none;
    
}
li{
    list-style: none;
}
 
h1,h2,h3,h4,h5,h6{
    font-family: "Poppins" , sans-serif;
}
.section-navbar{
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    background: var(--white-color);
}
.section-navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.8rem 6rem;
}
.section-navbar .navbar ul{
    display: flex;
    gap: 3.2rem;

    & li a{
        color: var(--heading-color);
        font-weight: 600;
        display: inline-block;
        position: relative;

        &::after{
            content:"";
            position: absolute;
            bottom:-.3rem;
            left: 0;
            width: 0;
            border-bottom: 0.2rem solid var(--main-color) ;
            border-radius: 10px;
            transition: 0.3s linear;
        }
    }
   & li a:hover::after{
    width: 100%;
   }
}

/* .....hero........ */
main{
    background: linear-gradient( to top right,#3d86fa, #4484fb, #92baff,#b3d2ff);
    position: relative;
}
.section-hero .grid{
    align-items: center;
    gap: 6.4rem;
    
    & .hero-subheading{
        text-transform: uppercase;
        letter-spacing: .2rem;
        font-size: 1.7rem;
        color: var(--btn-hover-bg-color);
        font-weight: 600;
    }

    & .hero-heading{
        font-size: 5rem;
        color: var(--hero-heading-color);
        font-weight: 900;
    }
    & .hero-para{
        color: var(--white-color);
        margin: 2rem 0 4rem 0;
        font-weight: 300;
    }
}
.section-hero--image img{
    width: 100%;
    height: auto;
}
.custom-shape-divider-bottom-1710872844 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1710872844 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 12rem;
}

.custom-shape-divider-bottom-1710872844 .shape-fill {
    fill: #FFFFFF;
}

/* .....section-about......... */
.section-about .about-div{
    text-align: center;
}
.section-about .grid{
    gap: 5.4rem;
}
.section-about img{
    padding: 1rem;
    background-color: var(--supporting-color);
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    transition: all 0.5s linear;
}
.about-div .icon img:hover{
    transform: rotate(360deg);
    background: linear-gradient(to right, #0575e6, #021b79);
}

/* .................course.............. */

.section-course{
    background-color: var(--bg-color);

}
.section-course .fa-brands{
    padding: 2.4rem;
    background-color: var(--supporting-color);
    font-size: 3rem;
    border-radius: 50%;
    color: #ffae00;
}
.section-course .course-div{
    /* text-align: center; */
    padding: 2.3rem  ;
}
.section-course .grid{
    
    gap: 3rem;
}
.section-course .course-div:hover{
    box-shadow: var(--btn-box-shadow);
    border-radius: 10px;
}

/* ....why choose..... */
.section-why--choose .grid{
  gap: 9.6rem;
}
.section-why--choose .text-align--right .why-choose--div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    text-align: right;
}
.why-choose--div{
    margin-top: 3.2rem;
}
.common-text--highlight{
    width: 5rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--supporting-color);
    color: var(--main-color);
    font-weight: 700;
    font-size: 2.2rem;
    transition: all 0.5s;
}
.common-text--highlight:hover{
    background: #FFC700;
    color: var(--supporting-color);
    cursor: pointer;
}
.choose-center--div img{
  width: 90%;
  height: auto;
} 
.choose-center--div figure{
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
}
.choose-center--div figure::before,
.choose-center--div figure::after{
    content: " ";
    width: 32rem;
    height: 32rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    z-index: -1;  
}
.choose-center--div figure::after{
    width: 36rem;
    height: 36rem;
    background-color:transparent;
    border: 3px solid var(--supporting-color);
    z-index: -11;
}
.choose-center--div figure::before{
  animation:circle 5s linear infinite ;
}

@keyframes circle{
    0%{
        
            background-color: blue;
        
    }
    25%{
       
            background-color: rgb(53, 53, 252);
    }
    50%{
        
            background-color: rgb(167, 167, 255);

    }
    75%{
        
            background-color: rgb(173, 192, 255);

    }
    100%{
        
            background-color: blue;

    }
}

.section-contact--homepage{
    width: 60%;
    min-height: 30rem;
    margin: 0 auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 0 3rem;
    border-radius: 0.5rem;
    position: relative;
    bottom: -15rem;
    background-color: var(--white-color);
    

    & .grid{
        align-items: center;
        gap: 6rem;
    }
}
.contact-content p{
    margin: 1.2rem 0 1.2rem 0;
}
.section-contact--homepage .fa-solid{
    color: var(--white-color);
}
.section-contact--homepage a{
    color: var(--white-color);
    text-transform:capitalize;
}
    .section-contact--homepage img{
        width: 100%;
        height: auto;
    }
    .section-about .container:first-child,
    .section-blog .container:first-child,
    .section-course .container:first-child,
    .section-why--choose .container:first-child,
    .section-contact--homepage .container:first-child{
        padding: 6.4rem 3rem 2.4rem 6rem;

    }

/* ......footer....... */
footer{
    background-color: var(--test-color);
    padding-top: 15rem;
}
footer *{
    color: var(--white-color);
}
.footer-subheading{
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
}
.footer-1--div p{
    margin: 1rem 0 3rem 0;
}
.footer-1--div{
    text-align: left;
    & .social-footer--icons{
        display: flex;
        gap: 2.4rem;
        & .fa-brands{
            width: 5rem;
            aspect-ratio: 1;
            background-color: var(--supporting-color);
            color: var(--btn-hover-bg-color);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .3s linear  ;
            
            &:hover{
                color: var(--supporting-color);
                background-color: var(--btn-hover-bg-color);
                rotate: 360deg;
            }
            
        }
    }
}

/* ....blog..... */
.blog-content{

    box-shadow: var(--btn-box-shadow);
    transition: scale 0.3s ;
    border-radius: .5rem;
    
    & .blog-date{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.4rem 0 1.4rem;
       
       
        & p{
            font-size: 1.2rem;
            letter-spacing: .3rem;
           
        }
    }

    & figure img{
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
    }

    & .section-common-title{
        font-size: 1.5rem;
        padding: 0 2rem 2rem 2rem;
        letter-spacing: .1rem;

    }

    &:hover{
        scale: 1.1;
    }
    
}

.section-blog .grid{
    gap: 3rem;
}

/* .....contact..... */

.section-contact{
  font-family: "Poppins" ;

}
.section-contact form label{
    display: block;
    font-size: 1.7rem;
}
.section-contact form input , textarea{
    padding: 1rem .5rem;
    width: 100%;
    font-size: 1.5rem;
    text-transform: capitalize;
}
.mb-3{
    margin-bottom: 3rem;
}
form .grid{
    gap: 2rem;

}
 textarea::placeholder,
 input::placeholder{
    color:grey;
}
.section-contact .grid{
    gap: 3rem;
}
input:focus-visible,
textarea:focus-visible{
    outline: 0.1rem solid var(--btn-hover-bg-color);
}


/* .....media query..... */
@media (width<=1100px) {
    html{
       font-size: 56.25%; 
    }
    .section-hero img {
        width: 90%;
    }
    
}
@media (width<=1050px) {
    html{
        font-size: 54%; 
     }
    
}
@media (width<=900) {
    .section-hero{
     
        & .grid-two--cols{
            grid-template-columns: 1fr;
        }
      
    }
}